*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
html {
  font-family: Arial, Helvetica, sans-serif;
}

/* COMMON */
.clear {
  clear: both;
}

/* .text-white {
  color: #fff !important;
} */
  
.text-center {
  text-align: center !important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-second {
  width: 50%;
}

.col-four {
  width: 25%;  
}

/* MAIN */
#main {
  
}

/* HEADER */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 45px;
  background-color: black;
  z-index: 1;
}
  
#nav {
  display: inline-block;
}
  
#nav, .subnav {
  list-style: none;
}
  
#nav > li {
  display: inline-block;
}
  
#nav li {
  position: relative;
}
  
#nav > li > a {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
  
#nav li a{
  text-decoration: none;
  line-height: 45px;
  padding: 0 15px;
  display: block;
}
  
#nav li:hover .subnav {
  display: block;
}
  
#nav .subnav li:hover a, 
#nav > li:hover > a {
  color: black;
  background-color: #ccc;
}
  
#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
  
#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
}
  
#nav .nav-arrow-down {
  font-size: 10px;
}
  
#header .search-btn {
  float: right;
  padding: 0 15px; 
}
  
#header .search-btn:hover {
  cursor: pointer;
  background-color: red;
}
  
#header .search-icon {
  color: white;
  font-size: 20px;
  line-height: 45px;  
}

#content .cart-btn {
  float: right;
  padding: 0 15px; 
}
  
#content .cart-btn:hover {
  cursor: pointer;
  background-color: red;
}
  
#content .cart-icon {
  color: white;
  font-size: 20px;
  line-height: 45px;  
}

/* SLIDER */
#slider {
  position: relative;
  margin-top: 45px;
  padding-top: 44%;
  background: url('./img/Car/1.jpg') top center / cover no-repeat;
}
  
#slider .text-content {
  font-size: 20px;
  bottom: 45px;
  width: 100%;
  position: absolute;
  color: black;
  text-align: center;
}

#slider .text-heading {
  font-weight: 700;
  font-size: 50px;
}

#slider .text-description {
  font-size: 25px;
}
  
/* CONTENT */
#content {
  
}
  
#content .content-section {
  width: 800px;
  padding: 64px 0;
  margin-left: auto;
  margin-right: auto;
}
  
#content .section-heading {
  color: #000;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
}
  
#content .section-sub-heading {
  font-size: 15px;
  margin-top: 25px;
  opacity: 0.6;
  text-align: center;
  font-style: italic;
}
  
#content .about-text {
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}
  
#content .car-list {
  margin-top: 30px;
  overflow: hidden;
}

#content .car-name {
  font-weight: 700;
  font-size: 15px;
}
  
#content .car-img {
  width: 180px;
  margin-top: 20px;
  border-radius: 25px;
}
  
.news-section {
  background-color: #a9a9a9;
  background: url('./img/Car/2.jpg') top center / cover no-repeat;
  height: 1174px;
}
 
/* SELL */
.sell-list {
  background-color: white;
  margin-top: 40px;
  list-style: none;
  border-radius: 15px;
}
  
.sell-list li{
  font-size: 15px;
  padding: 11px 15px;
  border-bottom: 1px solid #ddd;  
}
  
.sell-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
  
.sell-list .best-sell {
  background-color: #00c3ff;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
  
.sell-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
}
  
/* BUY */
.buy-list1 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.buy-list2 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.buy-img {
  width: 100%;
  display: block;
}

.buy-img:hover {
  opacity: 0.6;
}

.buy-body {
  padding: 15px;
  font-size: 15px;
  background-color:#fff;
}

.buy-heading {
  font-size: 15px;
  font-weight: 600;
}

.buy-cost {
  margin-top: 15px;
  color: #757575;
}

.buy-desc {
  margin-top: 15px;
  line-height: 0.3;
}

.buy-btn1 {
  color: #000;
  margin-top: 15px;
  padding: 10px 14px;
  display: inline-block;
  text-decoration: none;
  background-color: #ccc;
}

.buy-btn1:hover {
  color: #ccc;
  background-color: #000;
}

.buy-btn2 {
  color: #000;
  margin-top: 15px;
  padding: 10px 18px;
  display: inline-block;
  text-decoration: none;
  background-color: #ccc;
}

.buy-btn2:hover {
  color: #ccc;
  background-color: #000;
}

#footer {
  
}

.tofixed{
  top:0;
  position: fixed;
  color:#555;
  background-color: #000;
  animation:showfixed 1s ease-in-out 1 forwards
}

@keyframes showfixed {
  from{
      top:-100px;
  }
}

.showtotop, .zoomshow{
  opacity: 0;
}

.active .showtotop{
  animation:showtop 1s ease-in-out 1 forwards;
}

.active .zoomshow{
  animation:zoomshow 1s ease-in-out 1 forwards;
}

.delay-02 {
  animation-delay: 0.2s !important;
}